
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js

RewriteEngine   on
RewriteRule     ^~gray/img/(.+)     http://img.kastaneda.kiev.ua/$0     [R,L]

RewriteRule     ^webdev/this/(.*)   /webdev/this.html                   [R,L]

AddEncoding x-gzip .gz
