
body {
    margin: @line auto;
    padding: 0 @line;

    max-width: 45em;

    color: @text-color;
    background: @background-color;
    
    font-size: @font-size;
    line-height: @line;

    &.debug {
        background: @background-color url(@debug-background) left top;
    }
}

::selection {
    background: @selection-color;
}

::-moz-selection {
    background: @selection-color;
}
