
body {
    margin: 24px auto;
    padding: 0 24px;
    max-width: 45em;

    color: @text-color;
    background: @background-color;
    
    font-size: 18px;
    line-height: 24px;

    &.debug {
        background: @background-color url(line-height-24px.png) left top;
    }
}
