
body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

pre, code, tt {
    font-family: 'Anonymous Pro', monospace;
    font-size: inherit;
    line-height: inherit;
}
