
body {
    font-family: sans-serif;
}

pre, code, tt {
    font-family: monospace;
}

@media (min-device-width: 1000px) {
    // используем шрифты только на устройствах с большим экраном
    // большинство браузеров не скачивают неиспользуемые шрифты
    // следовательно, большинство мобилок не будут выкачивать всё это по GPRS

    body {
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
    }

    h1, h2, h3 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 300;
    }

    pre, code, tt {
        font-family: 'PT Mono', monospace;
        font-weight: 400;
    }
}
