
body {
    font-family: 'Droid Sans', 'Liberation Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

pre, code, tt {
    font-family: monospace;
}

@media (min-device-width: 1000px) {
    // используем внешние шрифты только на устройствах с большим экраном
    // большинство браузеров не скачивают неиспользуемые шрифты
    // следовательно, low-end мобилки (с экранами меньше HD) не будут выкачивать всё это по GPRS

    @import "google-fonts.less";

    body {
        font-family: 'PT Sans', 'Droid Sans', 'Liberation Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        font-weight: 400;
    }

    h1, h2, h3 {
        font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
        font-weight: 300;
    }

    pre, code, tt {
        font-family: 'PT Mono', monospace;
        font-weight: 400;
    }
}
