
@import "reset.less";

////////////////////////////////////////////////////////////////////////

@background-color: #fff;        // основной фон
@text-color: #000;              // основной текст

@muted-color: #666;             // приглушённый цвет текста
@header-color: #066;            // цвет текста h1, h2, h3
@selection-color: #ff9;         // фон выделения текста
@box-shadow-color: #ccc;        // тень вокруг блоков

@link-color: #009;              // все ссылки
@visited-color: #609;
@active-color: #c33;
@link-hover-color: @link-color + #333;
@visited-hover-color: @visited-color + #333;

@line: 24px;                    // высота строки
@font-size: 18px;               // размер основного текста

@font-h1-size: 48px;
@font-h2-size: 36px;
@font-h3-size: 28px;            // высота строки вычисляется кратной @line

@grit-size: 4px;

// «полосатый» фон есть для строк высотой 18, 20, 22 и 24px
@debug-background: %("img/line-height-%a.png", @line);

////////////////////////////////////////////////////////////////////////

@import "body.less";
@import "fonts.less";
@import "text-blocks.less";
@import "text-block-contacts.less";
@import "text-block-footer.less";
@import "text-inline.less";
@import "text-block-source.less";
@import "misc.less";
