
i, em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

a {
    &:link {
        color: #009;
        text-decoration: underline;
    }
    &:hover {
        color: #00c;
    }
    &:visited {
        color: #609;
        &:hover {
            color: #90c;
        }
    }
    &:active, &:visited:active {
        color: #900;
    }
    &:focus {
        outline: thin dotted;
    }
}
