
h1, h2, h3 {
    color: #066;
}

p, ul, ol {
    margin: 24px 0;
}

li {
    margin: 0 0 0 3em;
    ul, ol {
        margin: 0;
    }
}

h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 24px 0;
}

h1 {
    font-size: 48px;
    line-height: 72px;
}

h2 {
    font-size: 36px;        
    line-height: 48px;
}

h3 {
    font-size: 30px;
    line-height: 48px;
}

pre, code, tt {
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
