{%- assign _lang = page.lang | default: site.lang | default: 'en' %}
{%- assign _i18n = site.i18n[_lang] %}
    <meta charset="utf-8">
    <title>{% if page.title %}{{- page.title -}}
           {%- else %}{{ _i18n.title | default: site.title }}{% endif %}</title>
    <meta name="description" content="{{ _i18n.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link rel="stylesheet" href="/style/main.css" -->
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
{%-  for _item in page.head_extras %}
    {{  _item }}
{%- endfor %}
{%- if page.dreamwidth %}
    <link rel="alternate" href="https://kastaneda.dreamwidth.org/{{ page.dreamwidth }}.html">
{%- endif %}
{%- if page.livejournal %}
    <link rel="alternate" href="https://kastaneda.livejournal.com/{{ page.livejournal }}.html">
{%- endif %}
{%- for link in page.crossposts %}
    <link rel="alternate" href="{{ link }}">
{%- endfor %}
