    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} ★ kastaneda.kiev.ua{% else %}kastaneda.kiev.ua{% endif %}</title>
{% if page.url == '/' %}
    <link rel="openid.server" href="https://www.dreamwidth.org/openid/server.bml">
    <link rel="openid.delegate" href="https://kastaneda.dreamwidth.org/">
    <link rel="openid2.provider" href="https://www.dreamwidth.org/openid/server.bml">
    <link rel="openid2.local_id" href="https://kastaneda.dreamwidth.org/">
    <meta name="description" content="Дмитрий Колесников. Программист, веб-мастер, админ.">
{% endif %}
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
{{ '@import "main"' | sassify | remove_first: '@charset "UTF-8";' }} 
    </style>
