html
  font-family: 'IBM Plex Serif', 'URW Bookman L', 'Georgia', 'Times', serif
  font-size: 120%
  line-height: 150%

pre, code, tt
  font-family: 'IBM Plex Mono'

h1, h2, h3
  font-weight: normal

h1
  font-size: 220%
  line-height: 130%
  voice-stress: strong

h2
  font-size: 180%
  line-height: 120%
  voice-stress: strong
  a
    text-decoration-thickness: 0.075em

h3
  font-size: 145%
  line-height: 150%

.page-header h1
  font-family: 'Snell Roundhand', 'Zapf Calligraphic', 'Z003', cursive, fantasy, serif
  font-size: 165%
  font-weight: normal
  font-style: italic
  line-height: 145%

