html
  font-family: 'IBM Plex Serif', 'URW Bookman L', 'Georgia', serif
  font-size: 1.25rem
  line-height: 1.8rem

pre, code, tt
  font-family: 'IBM Plex Mono', 'Roboto Mono', 'Droid Sans Mono', 'Consolas', monospace
  font-size: .95rem
  line-height: 1.35rem

.page-header
  font-family: 'Snell Roundhand', 'Zapf Calligraphic', 'Z003', 'Segoe Script', cursive, fantasy, serif
  font-size: 1.65rem
  font-weight: normal
  font-style: italic
  line-height: 1.9rem

@media (max-width: 32rem)
  .page-header
    font-size: 1.35rem
    line-height: 1.55rem
