html
  font-size: 1.25rem
  line-height: 1.8rem

pre, code, tt
  font-size: .95rem
  line-height: 1.35rem

h1, h2, h3
  font-weight: normal
  margin: 1.5rem 0 1rem 0

h1
  font-size: 2.2rem
  line-height: 2.8rem
  voice-stress: strong

h2
  font-size: 1.8rem
  line-height: 2.1rem
  voice-stress: strong

h3
  font-size: 1.45rem
  line-height: 2.17rem

blockquote
  margin-left: .25rem
  padding-left: .75rem
  border-left: thin dashed
  font-style: italic

hr
  content: ''
  display: block
  width: 62%
  margin: 1.75rem auto
  border: none
  border-top: 1px dashed

del
  text-decoration-line: line-through
  text-decoration-style: double
  font-style: italic
