html
  font-family: 'IBM Plex Serif', 'Georgia', 'URW Bookman L', Times, serif

h1
  font-family: 'Snell Roundhand', 'Zapf Calligraphic', 'Z003', cursive, fantasy, serif

pre, code, tt
  font-family: 'IBM Plex Mono'
