body
  font-family: 'Open Sans', sans-serif
  font-weight: 300

h1, h2, h3
  font-family: 'Open Sans', sans-serif
  font-style: italic
  font-weight: 300

pre, code, tt
  font-family: 'Source Code Pro', monospace
  font-weight: 300
