<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} ★ kastaneda.kiev.ua{% else %}kastaneda.kiev.ua{% endif %}</title>
{% if page.url == '/' %}
    <link rel="openid.server" href="http://www.dreamwidth.org/openid/server.bml">
    <link rel="openid.delegate" href="http://kastaneda.dreamwidth.org/">
    <link rel="openid2.provider" href="http://www.dreamwidth.org/openid/server.bml">
    <link rel="openid2.local_id" href="http://kastaneda.dreamwidth.org/">
    <meta name="description" content="Дмитрий Колесников. Программист, веб-мастер, админ.">
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/style/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Mono|Open+Sans+Condensed:300&subset=latin,cyrillic">
    <script src="{{ '/style/main.js' | prepend: site.baseurl }}"></script>
  </head>
  <body>

    <article>
{{ content }}
    </article>

{% if page.url != '/' %}
    <footer>
      <nav>
        <a href="{{ '/' | prepend: site.baseurl }}">На главную страницу</a>
      </nav>
      © Дмитрий Колесников
    </footer>
{% endif %}

  </body>
</html>
