---
layout: base
---
    <header>
      <h1>Життя та незвичайні пригоди Дона Карлоса</h1>
    </header>

    <main>
      <article>
        <h2>{{ page.title }}</h2>

        <p class="blogpost__meta">
          <span class="blogpost__date">
            {% include date-uk.html date=page.date %}
          </span>
          <span class="blogpost__tags">
            <span title="Теґ">#</span><a href="#FIXME">FIXME</a>
          </span>
        </p>

{{ content }}

    {%- if page.dreamwidth or page.livejournal or page.crossposts %}
        <ul class="blogpost__xc">
    {%- if page.dreamwidth %}
          <li>Cross-post: <a class="FIXME" style="color: inherit" href="https://kastaneda.dreamwidth.org/{{ page.dreamwidth }}.html">https://kastaneda.dreamwidth.org/{{ page.dreamwidth }}.html</a></li>
    {%- endif %}
    {%- if page.livejournal %}
          <li>Cross-post: <a class="FIXME" style="color: inherit" href="https://kastaneda.livejournal.com/{{ page.livejournal }}.html">https://kastaneda.livejournal.com/{{ page.livejournal }}.html</a></li>
    {%- endif %}
    {%- for link in page.crossposts %}
          <li>Cross-post: <a class="FIXME" style="color: inherit" href="{{ link }}">{{ link }}</a></li>
    {%- endfor %}
        </ul>
    {%- endif %}

      </article>
    </main>

{% include page-footer.html %}
