---
layout: base
---

<main>
  <article>

    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <p class="FIXME" style="color: #666">
      {{ page.date }}
      {% if page.dreamwidth_itemid %}
        <br />
        Cross-post: <a class="FIXME" style="color: inherit" href="https://kastaneda.dreamwidth.org/{{ page.dreamwidth_itemid }}.html">https://kastaneda.dreamwidth.org/{{ page.dreamwidth_itemid }}.html</a>
      {% endif %}
      {% for link in page.crossposts %}
         <br />
         Cross-post: <a class="FIXME" style="color: inherit" href="{{ link }}">{{ link }}</a>
      {% endfor %}
    </p>

    {{ content }}

  </article>
</main>

{% include page-footer.html %}
