---
layout: base
---

{%- assign _lang = page.lang | default: site.lang | default: 'en' %}

{%- include page-header.html %}

    <article class="blogpost blogpost-single" itemscope itemtype="http://schema.org/BlogPosting">
      <h1>{{ page.title }}</h1>

      <p class="blogpost__meta">
        <span class="blogpost__date">
          <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}" itemprop="datePublished">
            {% include date-{{ _lang }}.html date=page.date %}
          </time>
        </span>
        <!-- span class="blogpost__tags">
          <span title="Теґ">#</span><a href="#FIXME">FIXME</a>
        </span -->
      </p>

      <section itemprop="articleBody">

{{ content }}
      </section>

{%- if page.dreamwidth or page.livejournal or page.crossposts %}
      <ul class="blogpost__xc">
{%- if page.dreamwidth %}
        <li>Cross-post: <a class="FIXME" style="color: inherit" href="https://kastaneda.dreamwidth.org/{{ page.dreamwidth }}.html">https://kastaneda.dreamwidth.org/{{ page.dreamwidth }}.html</a></li>
{%- endif %}
{%- if page.livejournal %}
        <li>Cross-post: <a class="FIXME" style="color: inherit" href="https://kastaneda.livejournal.com/{{ page.livejournal }}.html">https://kastaneda.livejournal.com/{{ page.livejournal }}.html</a></li>
{%- endif %}
{%- for link in page.crossposts %}
        <li>Cross-post: <a class="FIXME" style="color: inherit" href="{{ link }}">{{ link }}</a></li>
{%- endfor %}
      </ul>
{%- endif %}
    </article>

{%- include page-footer.html %}
